# Uncomment any variables you need, then copy to .env: cp .env.example .env

# Change the default gateway token
# OPENCLAW_GATEWAY_TOKEN=

#Preload Claude Keys
# CLAUDE_AI_SESSION_KEY=
# CLAUDE_WEB_SESSION_KEY=
# CLAUDE_WEB_COOKIE=

# Set the timezone (defaults to UTC)
# OPENCLAW_TZ=

# Change the Open WebUI Port (defaults to 8080)
# OPEN_WEBUI_PORT:=
